body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        max-width: 400px;
        margin: 10px auto;
        padding: 16px;
        height: 100vh;
        background-image: url(pixel.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    width: 450px;

    background: #f7f7f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container h1{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-family:Arial, Helvetica, sans-serif
    padding: 20px 0;
    color: #666;
}

.container button{
display:inline-block;
   padding:10px 20px;
   background-color: #78a7ba;
   font: size 15px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
}